<!DOCTYPE html>
<html>
    <header>
        <title>Homework Web App</title>

        <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </header>
    <body class="b-img">
<% var selectedSchool; %>


        <div class="container">
            <div class="row no-m">
                <div class="col s12 l8 push-l2">
                    <div class="margin"></div>
                    <% include ../partials/flash %>
                    <div class="card">
                        <div class="card-content">
                            <h4 class="center">Select a School</h4>
                            <form action="/register3" method="POST">
                                <div class="row">
                                    <div class="input-field col s8 l10">
                                        <select name="school" id="school">
                                            <option value="" disabled selected>Choose a school</option>
                                            <% schools.forEach(school => { %>
                                                <option value="<%=school.name%>"><%=school.name%></option>
                                            <% }) %>
                                        </select>
                                        <label>School</label>
                                    </div>
                                    <a href="/schools/new" target="_blank" class="waves-effect waves-light btn col s4 l2 margin-t">Add School</a>
                                    <div class="input-field col s12">
                                        <input id="schoolPassword" name="schoolPassword" type="password" class="validate">
                                        <label for="schoolPassword">School Password</label>
                                    </div>
                                    <input class="hide" name="username" value="<%=username%>"></input>
                                    <input class="hide" name="password" value="<%=password%>"></input>
                                </div>
                                
                                <div class="row no-m">
                                    <button class="col s6 push-s3 m4 push-m4 l2 push-l5 waves-effect waves-light btn">Next</button>
                                    <div class="row"></div>
                                    <p class="center col s12">Have an account? <a href="/login">Log in</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!-- script.js -->
        <script src="/scripts/script.js"></script>
        </body>
</html>