<% if(error && error.length > 0) { %>

<div class="alert card red lighten-2">
    <div class="valign-wrapper">
        <h6 class="alert-close flash alert-error no-m"><%=error%></h6>
        <i class="col s1 smaller material-icons right-align" id="alert-close" aria-hidden="true">close</i>
    </div>
</div>

<% } else if(success && success.length > 0) { %>

<div class="alert card green lighten-3">
    <div class="valign-wrapper">
        <h6 class="alert-close flash alert-success no-m"><%=success%></h6>
        <i class="col s1 smaller material-icons right-align" id="alert-close" aria-hidden="true">close</i>
    </div>
</div>

<% } %>