<!DOCTYPE html>
<html>
    <head>
        <title>Homework Web App</title>
        
        <!-- Icon -->
        <link rel="shortcut icon" href="/res/logo.png">
        
        <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        <!-- HelmholtzApp -->
        <% if(typeof hhsapp !== 'undefined') { %>
            <link rel="stylesheet" href="/stylesheets/hhsapp.css" type="text/css" />
        <% } %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>