<!DOCTYPE html>
<html>
    <head>
        <title>Homework Web App</title>
        
        <!-- Icon -->
        <link rel="shortcut icon" href="/res/logo.png">
        
        <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        <!-- FontAwesome icons -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body id="no-mp">
        <div class="row" id="no-mp">

            <div class="navbar-fixed">
                <nav class="nav-extended">
                    <div class="col s12 right" id="no-mp">
                        <div class="nav-wrapper blue">
                            <div class="container">
                                <ul><li><div class="nav-title-width brand-logo center truncate">
 
                                    <% if(texts[title]) { %>
    
                                        <%= texts[title] %>
    
                                    <% } else { %>
    
                                        <%= title %>
    
                                    <% } %>
                                </div></li></ul>
    
                                <ul><li><a href="/classes/<%= user.class_id %>/homework"><i class="material-icons">arrow_back</i></a></li></ul>
                                
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row no-m">
            <div class="col s12" id="body">