<!DOCTYPE html>
<html>
    <header>
        <title>Homework Web App</title>

        <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </header>
    <body class="b-img">
        <div class="container">
            <div class="row no-m">
                <div class="col s12 l8 push-l2">
                    <div class="margin">
                        <% include ./partials/flash %>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h4 class="center">Homework Web App</h4>
                            <div class="row"></div>
                            <p class="card-title center">Web App to organize Homework</p>
                            <div class="row"></div>
                        </div>
                    </div>
                            
                    <div class="card">
                        <div class="card-content">
                            <div class="row no-m">
                                <h4 class="col s12 center no-m">Get Started</h4>
                                <div class="row"></div>
                                <hr>
                                <div class="col s1"></div>
                                <a href="/register" class="blue col s4 btn waves-effect waves-light">Sign Up</a>
                                <h5 class="col s2 center no-m">or</h5>
                                <a href="/login" class="blue col s4 btn waves-effect waves-light">Log In</a>
                                <div class="col s1"></div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            
        </div>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!-- script.js -->
        <script src="/scripts/script.js"></script>
    </body>
</html>