<!DOCTYPE html>
<html>
    <head>
        <title>Homework Web App</title>
        
        <!-- Icon -->
        <link rel="shortcut icon" href="/res/logo.png">
        
        <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="app-color full-height">
        <div class="row no-m">
            <div class="col s10 push-s1">
                <div class="margin-mobile"></div>
                 
                <% include ./partials/flash %>
                
                <img class="responsive" src="/res/homework_title.png">
                
                <div class="row"></div>
                <div class="row"></div>
                
                <h4 class="header center-align white-text"><%= texts.APP_DESCRIPTION %></h4>
                
                <div class="margin"></div>
                <div class="row no-m">
                <div class="card center">
                    <div class="row"></div>
                    <h4><%= texts.GET_STARTED %></h4>
                    <div class="row">
                        <a href="/login" class="app-color btn waves-effect waves-light "><%= texts.LOGIN %></a>
                        <a href="/register" class="app-color btn waves-effect waves-light"><%= texts.SIGNUP %></a>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>

        <!-- Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        </body>
</html>