.app-color {
	background-color: #5A9016!important;
}

.nav-wrapper {
	display: none;
}

#body-home {
	margin-top: 0!important;
}

ul.dropdown-content.select-dropdown li span {
    color: #5A9016!important;
}