.no-m {
    margin-bottom: 0;
    margin-top: 0;
}

#tabs {
    margin-top: 0.5vh;
}

#show-date {
    text-align: right;
    padding-top: 5px;
}

#no-mp {
    margin:0;
    padding:0;
}

.b-img {
    height: 100vh;
    background-image: url(/res/slideNavBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.margin {
    margin-top: 15vh;
}