p, h1, h2, h3, h4, h5 {
    word-wrap: break-word;
}

.no-m {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

#no-mp {
    margin:0;
    padding:0;
}

.b-img {
    height: 100vh;
    background-image: url(/res/slideNavBackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    padding:0;
}

#body-home {
    padding:0;
    margin: 62px 0 0 0;
}

#body {
    margin: .5% 0 0 0;
}

#formHr {
    margin-top: 23px;
}

.margin {
    margin-top: 15vh;
}

.margin-t {
    margin-top: 2%;
}

.margin-t2 {
    margin-top: 3%;
}

.logo {
    margin-top: 9px!important;
}

.hide {
    display: none;
}

.tabs .indicator{
    background-color:#FFFFFF!important;
}

.tabs .tab a {
    color: #efebe9!important;
}

.tab a.active {
    color: #0068bf!important;
    background-color: #42a5f5!important;
}

.tabs .indicator{
    background-color:000000!important;
}

.carousel .carousel-item {
    width: 100%;
    display: table;
}

.background-color {
    height: 95vh;
}

.alert {
    opacity: 0.8;
}

.alert-error {
    opacity: 1;
    color: #b30000;
    font-weight: 500!important;
}

.alert-success {
    opacity: 1;
    color: #008000;
    font-weight: 500!important;
}

.modal {
    top: 20%!important;
}
.modal-button {
    margin: 0 1%!important;
}

.picker__date-display, .picker__weekday-display{
    background-color: #2196F3;
}

.bold {
    font-weight: 600;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.icon-red {
    color: red!important;
}

.background {
    height: 100%;
    width: 100%;
}

.slidenav-background {
    height: 100%;
    background-image: url(/res/slideNavBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

tr.row {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: grey;
}

.card-margin {
    margin-top: 0;
    margin-bottom: 8px;
}

.table-placeholder {
    width: 4.5em;
}

.brand-logo {
    width: 90%!important;
}
