p, h1, h2, h3, h4, h5 {
    word-wrap: break-word;
}

.no-m {
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.red-box {
    padding: 2px 4px;
    border: 2px solid #f44336;
    border-radius: 3px;
}

.yellow-box {
    padding: 2px 4px;
    border: 2px solid #f9a825;
    border-radius: 3px;
}

.green-box {
    padding: 2px 4px;
    border: 2px solid #4caf50;
    border-radius: 3px;
}

.center-text {
    text-align-last: center;
}

.medium-cell {
    width: 40%;
}

.large-cell {
    width: 50%;
}

td.small-cell {
    width: 10%;
    margin-top: 8px;
}

.no-p {
    padding: 0!important;
}

.btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.blue-background {
    background-color: #2196f3;
    height: 100vh;
}

#no-mp {
    margin:0;
    padding:0;
}

img.logo {
    width: 210px!important;
}

.margin-to-nav {
    margin-top: 30px;
}

.margin-logo {
    margin-top: 14px!important;
}

.b-img {
    background-image: url("/res/landing_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}

.responsive {
    width: 100%;
    height: auto;
}

#body-home {
    margin-top: 50px;
}

#body {
    margin-top: .5%;
}

#formHr {
    margin-top: 23px;
}

.margin {
    margin-top: 10vh;
}

.margin-t {
    margin-top: 2%;
}

.margin-t2 {
    margin-top: 3%;
}

.hide {
    display: none;
}

.tabs .tab a {
    color: #efebe9!important;
}

.tab a.active {
    color: #FFFFFF!important;
}

.tabs .indicator {
    height: 3px!important;
    background-color: #FFFFFF!important;
}

.carousel .carousel-item {
    width: 100%;
    display: table;
}

.background-color {
    height: 95vh;
}

.alert {
    opacity: 0.8;
}

.flash {
    padding: 0.8rem 1.6rem
}

.smaller {
    font-size: 1.3rem;
}

#alert-close {
    margin-right: 0.8rem
}

.alert-error {
    opacity: 1;
    color: #b30000;
    font-weight: 500!important;
}

.alert-success {
    opacity: 1;
    color: #008000;
    font-weight: 500!important;
}

.modal {
    top: 20%!important;
}
.modal-button {
    margin: 0 1%!important;
}

.picker__date-display, .picker__weekday-display{
    background-color: #2196F3;
}

.bold {
    font-weight: 600;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.icon-red {
    color: red!important;
}

.background {
    height: 100%;
    width: 100%;
}

.slidenav-background {
    height: 100%;
    background-image: url(/res/slideNavBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-margin {
    margin-top: 0;
    margin-bottom: 8px;
}

.table-placeholder {
    width: 4.5em;
}

.google_logo {
    top: 6px;
    right: 9px;
}

h6 {
    font-size: 1.2em;
}

.no-p-bot {
    padding-bottom: 0!important;
}

.bot {
    position: fixed;
    right: 23px;
    bottom: 23px;
}

.card-margin-bot {
    margin-bottom: 45px!important;
}

.margin-mobile {
    margin-top: 45%;
}

@media only screen and (max-width: 600px) {
    .nav-title-width {
        width: 72%;
    }
}

table {
    table-layout: fixed;
}